{% set active_page = 'pokemon' %}
{% extends "layout.html" %}
{% block title %}Caught Pokémons{% endblock title %}
{% block content %}
<div class="container-">
  {% for pokemon in pokemons.values() %}
  <div class="panel panel-default">
    <div class="panel-heading">
      <img style="max-height: 50px;" src={{ url_for( 'static', filename="pokemon/%03d.png" % pokemon[0].pokemon_id) }}/>
      {{pokemon[0].pokemon_type}}:{{pokemon | length}} - candy: {{pokemon[0].candy}}
      {% if pokemon[0].candy_needed_to_evolve != 0 %}
        - Evolutions:
        {% set needed = pokemon[0].candy_needed_to_evolve %}
        {% set available = pokemon[0].candy %}
        {{(available/needed)|int}}
      {% endif %}
    </div>
    <ul class="list-group">
    {% for unique in pokemon %}
      <li class="list-group-item">
        cp: {{unique.cp}}
        <a href="{{ url_for('transfer', username = username, p_id = unique.id, p_return_to = 'pokemon')}}">Transfer</a></td>
      </li>
    {% endfor %}
  </ul>
  </div>
  {% endfor %}
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
  crossorigin="anonymous"></script>
<script src="https://cdn.datatables.net/1.10.7/js/jquery.dataTables.min.js"></script>

{% endblock content %}
